<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="js/vue.js"></script>
<body>
        <script src="https://unpkg.com/tween.js@16.3.4"></script>
        <div id="animated-number-demo">
          <input v-model.number="number" type="number" step="20">
          <p>{{ animatedNumber }}</p>
        </div>
        <anchored-heading :level="1">Hello world!</anchored-heading>
        <script type="text/x-template" id="anchored-heading-template">
            <div>
              <h1 v-if="level === 1">
                <slot></slot>
              </h1>
              <h2 v-if="level === 2">
                <slot></slot>
              </h2>
              <h3 v-if="level === 3">
                <slot></slot>
              </h3>
              <h4 v-if="level === 4">
                <slot></slot>
              </h4>
              <h5 v-if="level === 5">
                <slot></slot>
              </h5>
              <h6 v-if="level === 6">
                <slot></slot>
              </h6>
            </div>
          </script>
        <script src="动画js.js"></script>
</body>
</html>